# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Windows Dynamic-link libraries
*.[dD][lL][lL]

# Compiled Static libraries
*.lai
*.la
*.a

# Dependency makefiles
*.d

# Compiled executable
emulationstation
EmulationStation
EmulationStation.exe

# build directory
build
Debug
Release
MinSizeRel
RelWithDebInfo

# CMake
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
install_manifest.txt

# CPack
_CPack_Packages
emulationstation-de*.deb
emulationstation-de*.rpm
EmulationStation-DE*.dmg
EmulationStation-DE*.exe

# TODO
TODO.md

# macOS
.DS_Store

# Eclipse
.cproject
.project
.settings/

# Clion
.idea/
CPackConfig.cmake
CPackSourceConfig.cmake
*.cbp

# VSCode
.vscode/
