[Desktop Entry]
Version=1.0.0-beta3
Name=EmulationStation Desktop Edition
GenericName=Emulator Front-end
Type=Application
Comment=Emulator Front-end
Icon=emulationstation
Exec=emulationstation
Terminal=false
StartupNotify=true
Hidden=false
Keywords=emulator;front-end;frontend;
Categories=Game;Emulator;
