<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>EmulationStation-DE</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleDisplayName</key>
    <string>EmulationStation Desktop Edition</string>
    <key>CFBundleExecutable</key>
    <string>EmulationStation</string>
    <key>CFBundleGetInfoString</key>
    <string>EmulationStation Desktop Edition 1.0.0</string>
    <key>CFBundleIconFile</key>
    <string>EmulationStation-DE.icns</string>
    <key>CFBundleName</key>
    <string>EmulationStation Desktop Edition</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleVersion</key>
    <string>1.0.0-beta1</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>LSUIPresentationMode</key>
    <integer>4</integer>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSMainNibFile</key>
    <string>EmulationStation</string>
    <key>NSHumanReadableCopyright</key>
    <string>Original work Copyright (c) 2014 Alec Lofquist
Modified work Copyright (c) 2020 Leon Styhre
Licensed under the MIT license</string>
</dict>
</plist>
