[Desktop Entry]
Version=1.0
Exec=emulationstation
Icon=org.es_de.emulationstation-de
Terminal=false
Type=Application
StartupNotify=true
Hidden=false
Categories=Game;Emulator;
Name=EmulationStation Desktop Edition
GenericName=Emulator Frontend
Keywords=emulator;emulation;front-end;frontend;
