[Desktop Entry]
Name=EmulationStation Desktop Edition
GenericName=Emulator Frontend
Type=Application
Icon=emulationstation
Exec=emulationstation
Version=1.0
Terminal=false
StartupNotify=true
Hidden=false
Keywords=emulator;emulation;front-end;frontend;
Categories=Game;Emulator;
